@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@400;500;600;700&family=Montserrat&family=Poppins&family=Roboto+Slab:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

main {
  margin: 24px;
}

/* Navigation */
.navigation-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.home-container {
  width: 100%;
  gap: 6px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-container p {
  color: black;
}
img.home-navigation {
  width: 32px;
  height: 32px;
}

.navigation-container {
  width: 100%;
}

.navigation-container .account {
  margin-right: 48px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-navigation {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.icon-navigation h1 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 4px;
  text-transform: uppercase;
}

.navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
}

.navigation-link li.user {
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
}

.navigation-link li img {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  width: 44px;
  height: 44px;
}

.navigation-link li.user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 8px;
}

.navigation-link li a {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.navigation-link li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.navigation-link li a:hover {
  color: black;
}

.navigation-link li a:hover::after {
  transform: scaleX(1);
}

/* Catagories Jumbotron */
.categories {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 32px;
  gap: 16px;
}

.category-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.category-item {
  background-color: #f5f5f5;
  -webkit-animation: random 5s infinite;
  animation: random 5s infinite;
  padding: 32px;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  transition: background-color 0.3s;
  position: relative;
}

.category-item .image-category {
  position: absolute;
  overflow: hidden;
}

.image-category {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
}

.category-item .image-category img {
  width: 40px;
  height: 40px;
}

/* Category Page */
.category {
  display: grid;
}

.icon-wrapper {
  border: 2px solid #333;
  background-color: #333;
  color: white;
  border-radius: 8px;
  width: 95px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.3s;
  gap: 4px;
}
.icon-wrapper:hover {
  background-color: #f5f5f5;
  color: black;
}
.list-category-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

/* cart */
.cart-container {
  height: 1000px;
}

@keyframes random {
  15% {
    background-color: #435334;
  }
  30% {
    background-color: #9eb384;
  }
  45% {
    background-color: #cedebd;
  }
  60% {
    background-color: #faf1e4;
  }
  75% {
    background-color: #f9f5f6;
  }
}

.category-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-category {
  text-decoration: none;
  color: #333;
  position: relative;
}

.link-category::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.link-category:hover {
  color: black;
}

.link-category:hover::after {
  transform: scaleX(1);
}

/* All Products */

.list-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 2px 0;
  position: relative;
}

.product-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 0.5fr;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.image-product {
  width: 100%;
  height: 300px;
}

.image-product img {
  width: 100%;
  height: 100%;
  /* padding: 16px; */
  object-fit: cover;
  transition: all 0.5s;
}

.image-product:hover img {
  transform: scale(0.4);
  overflow: visible;
  z-index: -2;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.product-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-information .name-category {
  background-color: #cdcdcd;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
}

.product-information .price {
  font-weight: bold;
}

.link-pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Detail Product */
.detail-item {
  padding: 48px;
}

.detail-image {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

.detail-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.detail-image img {
  width: 100%;
  height: 300px;
  padding: 8px;
  object-fit: contain;
}

.detail-information h3 {
  margin-bottom: 16px;
}

.detail-information p {
  text-align: justify;
}

.detail-information,
.info-price {
  padding: 16px;
}

.open-detail {
  margin: 16px 12px;
  width: 100%;
  height: 50%;
  cursor: pointer;
  background-color: #cdcdcd;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.close-detail {
  padding: 16px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-right: 6px;
  width: 44px;
}

.open-detail:hover {
  background-color: #bbb9b9;
}

.popup-content {
  margin: auto;
  background-color: white;
  border-radius: 4px;
  width: 50%;
  padding: 5px;
}

.modal > .detail-item {
  width: 100%;
  padding: 10px 5px;
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: #6969dd;
}

.add-to-cart {
  border: 2px solid #333;
  background-color: #333;
  cursor: pointer;
  padding: 24px;
  margin: 0 auto;
  width: 150px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.add-to-cart h5 {
  text-align: center;
  color: white;
}

.add-to-cart:hover {
  background-color: #f5f5f5;
}

.add-to-cart:hover h5 {
  color: black;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

/* Modal */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

img {
  display: block;
  width: 100%;
  overflow: hidden;
}

img.categories-icon {
  width: 50px;
  height: 50px;
}
